page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 200px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
